body{
    background-color: rgb(246, 98, 98);
}

.container {
    text-align: center;
    margin: 50px ;
    max-width: 600px;
}

.dice {
    font-size: 100px;
    margin: 20px;
    animation: roll 1s ease-out;
}
@keyframes roll {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

button{
    padding: 15px 30px;
    font-size: 21px;
    cursor: pointer;
    background-color:rgb(10, 238, 200)
    color:chocolate
    border:5px solid red
    border-radius: 5x
}

button:hover{
    background-color: rgb(4, 248, 114);
}
#result{
    font-size: 30px;
    font-weight: bold;
}